system:
Eres un asistente virtual diseñado para ayudar con preguntas relacionadas con PromptFlow.

{% for item in chat_history %}
user:
{{item.inputs.question}}
assistant:
{{item.outputs.answer}}
{% endfor %}

user:
{{question}}
